@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.15;  
}

html{
  scroll-behavior: smooth;
}
body{
  background: #f2f2f2;
}

a{
  text-decoration: none;
}


/* Buttons */

.btn-default{
  background: #e4d01c ;
  color: #f2f2f2;
  padding: 8px 30px;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 500;
}


.btn-default:hover{
  background:#f29422 !important;
  color: #f2f2f2 !important;
}

/* Navbar  */

nav{
background: #f2f2f2;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01);
}

.nav-item{
  margin-right: 20px;
}

.nav-link{
  color: #f29422;
  text-transform: uppercase;
  font-size: 0.93rem;
  font-weight: 500;
}

.nav-link:hover{
  /* border-bottom:1px solid #f28627; */
  color: #e4d01c;
}
.navbar-brand{
  width: 50px;
  max-width: 100%;
}
.navbar-toggler{
  color: #f2cf63 !important;
  font-size: 1.5rem;
}

/* Showcase */
#carouselExampleIndicators{
  position: relative;
  height: 80vh;
  width: 100%;
 
}

.carousel-inner{
  position: relative;
  height: 80vh;
  width: 100%;
}

#carouselExampleIndicators .carousel-inner .carousel-item{
  position: relative;
  height: 100%;
  width: 100%;
  background:url(../img/img1.png);
  background-size: cover;
  background-position: center;
}


#carouselExampleIndicators  .carousel-inner .carousel-item:nth-child(2){
  background:url(../img/img2.png);
  background-size: cover;
  background-position: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
  background:url(../img/img3.png);
  background-size: cover;
  background-position: center;
} 

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.showcase-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.411);
  padding: 1rem;
}

.showcase-text h1{
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.showcase-text p{
  font-size: 	1.25rem;
  text-transform: capitalize ;
  color: #f2f2f2;
}




/* About */
.about{
  width: 100%;
  height: 80vh;
  background: linear-gradient(to top right, #F29422 50%,#F28627 50%);
}

.about-desc h2,
.mission h3{
  font-size: 2.5rem;
}

.about-desc p, 
.mission p{
  font-size: 1.25rem;
}

.gallery
{
  height: 80vh;
  width: 100%;
  background: linear-gradient(to left, #e9c8c8,#F29422);
}



.g-text h2{
  font-family: 'Lato', sans-serif;
  font-size: 46px;
}



/* Form  */

.order{
  background-color: #F28627;
  padding: 1rem;
  height: 80vh;
}
.order-content{
  height: 40vh;
}
 
.form-wrapper input:focus{
  box-shadow: none !important;
}

/* Contact */

.contact{
  background-color:#f29422;
  height: 75vh;
}
.contact-info span,
.contact-info a{
  font-size: 20px;
  color:#030302 ;
}


.contact-details{
  width: 80%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.contact-details .fa-map-marker,
.contact-details .fa-phone-alt,
.contact-details .fa-envelope-open {
  font-size: 23px;
  color: #f2f2f2;
  margin-right: 10px;
}


.follow ul a{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  width: 100px;
  height: 50px;
  margin: 10px 10px;
}

.follow ul a .fa-instagram{
  color: #f2f2f2;
  font-size: 30px !important;
}





/* Footer  */
.footer{
background: #f2f2f2;
}

.copyright h5{
  color: #f29422;
  font-size: 1.3rem;
  font-weight: 400;
}


/* Media Queries */
 @media (max-width:768px){
   .showcase-text{
     width: 350px;
   }
  .showcase-text h1{
    font-size: 1.5rem;
  }
  
  .showcase-text p{
    font-size:0.938rem;
  }


  .about-desc p, 
.mission p{
  font-size: 1rem;
}

.item{
  margin-bottom: 15px;
  text-align: center;
}
.item img{
  width: 200px;
}

.gallery{
  height: 100vh;
}
  .copyright h5{
    font-size: 1rem;
  }

  .order-content{
    flex-direction: column;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    display: none;;
  }
} 



