@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.15;  
}

html{
  scroll-behavior: smooth;
}
body{
  background: #f2f2f2;
}

a{
  text-decoration: none;
}


/* Buttons */

.btn-default{
  background: #e4d01c ;
  color: #f2f2f2;
  padding: 8px 30px;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 500;
}


.btn-default:hover{
  background:#f29422 !important;
  color: #f2f2f2 !important;
}

/* Navbar  */

nav{
background: #f2f2f2;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.329);
}

.nav-item{
  margin-right: 20px;
}

.nav-link{
  color: #f29422;
  text-transform: uppercase;
  font-size: 0.93rem;
  font-weight: 500;
}

.nav-link:hover{
  /* border-bottom:1px solid #f28627; */
  color: #e4d01c;
}
.navbar-brand{
  width: 50px;
  max-width: 100%;
}
.navbar-toggler{
  color: #f2cf63 !important;
  font-size: 1.5rem;
}

/* Showcase */
#carouselExampleIndicators{
  position: relative;
  height: 80vh;
  width: 100%;
 
}

.carousel-inner{
  position: relative;
  height: 80vh;
  width: 100%;
  
}

#carouselExampleIndicators .carousel-inner .carousel-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background:url(../img/img1.png);
  background-size: cover;
  background-position: center;
}


#carouselExampleIndicators  .carousel-inner .carousel-item:nth-child(2){
  background:url(../img/img2.png);
  background-size: cover;
  background-position: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
  background:url(../img/img3.png);
  background-size: cover;
  background-position: center;
} 

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


.showcase-text h1{
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.showcase-text p{
  font-size: 	1.25rem;
  text-transform: capitalize ;
}




/* About */
.about-content h5,p{
  color: #f2f2f2;
  font-weight: 300;
}

.about-desc h2,
.g-text h2{
  color: #f29422;
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  letter-spacing: 3px;
  font-weight: 300;
}

.about-desc p,
.mission p{
  color: #030302 !important;
  font-size: 19px;
}



.gallery{
  background-color: #e9e4de;
}


/* Form  */


.order-content{
  height: 40vh;
}
 
.form-wrapper input:focus{
  box-shadow: none !important;
}

/* Contact */
.contact-info span,
.contact-info a{
  font-size: 20px;
  color:#030302 ;
}



.contact-details .fa-map-marker,
.contact-details .fa-phone-alt,
.contact-details .fa-envelope-open {
  font-size: 23px;
  color: #f29422;
  margin-right: 10px;
}


.follow ul a{
  background: #f29422;
  width: 100px;
  height: 50px;
  margin: 10px 10px;
}

.follow ul a .fa-instagram{
  color: #f2f2f2;
  font-size: 28px !important;
}





/* Footer  */
.footer{
background: #f2f2f2;
}

.copyright h5{
  color: #f29422;
  font-size: 1.3rem;
  font-weight: 400;
}


/* Media Queries */
 @media (max-width:768px){
   .showcase-text{
     width: 350px;
   }
  .showcase-text h1{
    font-size: 1.5rem;
  }
  
  .showcase-text p{
    font-size:0.938rem;
  }
  .copyright h5{
    font-size: 1rem;
  }

  .order-content{
    flex-direction: column;
  }
} 



